<%- include('partials/header') %>

    <div class="container">

        <div class="row mt-5">
            <h1 class="text-center border-botton">Lista de Reservas</h1>
            <div class="col">
                <div class="col-md-3 mb-2">
                    <a href="/crearReserva" class="btn btn sm btn-primary" id>Nuevo </a>
                    <a href="/" class="btn btn-info text-light">Inicio</a>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Apellido</th>
                            <th>Nombre</th>
                            <th>Fecha de Vuelo</th>
                            <th>Cantidad de Pasajeros</th>
                            <th>Costo de la Reserva</th>
                            <th>Destino</th>
                            <th>Teléfono</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody id="listadoReservas">

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="/js/index.js"></script>
    <%- include('partials/footer') %>